<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
  <h1>Mon super site de gossip, du dossier views !</h1>
  <h2>La liste des potins</h2>
  <% gossips.each_with_index do |gossip, index| %>
  <p>
    Potin n°<%= index + 1 %> de <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
  <a href="gossip/<%= index %>">Voir le post</a>
  <% end %>
  <p><a href="/gossip/new">Poster des potins</a></p>
</body>
</html>
