<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin</h1>
    <p>Balance ton potin ci-dessous :</p>
    <form class="" action="/gossip/new" method="POST">
      <p>Balance ton blase : <input type="text" name="gossip_author" placeholder="Ton petit nom..."></p>
      <p>Balance ton potin : <input type="text" name="gossip_content" placeholder="Ton potin..."></p>
      <input type="submit"/>
    </form>
  </body>
</html>
